// Importacion Estilos Globales
@import '../../Estilos/variables.scss';

//Estilos propios del componente RESULTADOSDELABUSQUEDA
.lineaDeSeparacion{
    opacity: 0.2;
    margin: 10px;
}
.estiloLink {
    color:black;
    text-decoration-line: none;
}