// Importación Estilos Globales
@import '../../Estilos/variables.scss';

//Estilos propios del componente

.containerOpcionesPieDePagina{
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background: $colorGrisOscuroMeli;
    box-shadow: -3px 4px 18px 1px rgb(0, 0, 0);
    
    @media (max-width:500px) {
        flex-flow: column;
    }

}
.containerInformacionPieDePagina{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(132, 132, 132);
    background: $colorAmarilloMeli;
}

.textLinks {
    font-size: 8pt;
    color: rgb(113, 113, 113);
    text-decoration:none
}
.itemsDeInformacion {
    padding-bottom: 15px;
}
.contenedorLinkPDP {
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.estiloIconoPieDePagina{
    margin-right: 5px;
}