// Importacion Estilos Globales
@import '../../Estilos/variables.scss';

.fondoModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.507);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.contenedorVentanaModal{
    width: 70%;
    max-width: 800px;
    min-width: 300px;
    position: relative;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}
.tituloModal{
    width: 100%;
    border-bottom: #9d9d9d52 1px solid;
    margin-top: 5px;
    padding-bottom: 5px;
    color: rgb(171, 171, 171);

}
.botonCerrarModal{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    &:hover{
        background: #f2c9c9;
    }
    &:active{
        background: #f29d9d;
    }
}
