$colorAmarilloMeli: #fee600;
$colorGrisMeli: #eeeeee;

.contenedorApp {
    padding-left: 10%;
    padding-right: 10%;
}

.contenedorEstandarProducto {
    min-width: 810px;
    background: white;
    padding: 20px;
}
