// Importación Estilos Globales
@import '../../Estilos/variables.scss';

//Estilos propios del componente APP
.ContenedorImagenPreliminarPrducto {
    background: rgb(255, 255, 255);
    min-width: 160px;
    min-height: 160px;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    display: flex;
    object-fit: cover;
}
.imagenPreliminarPrducto {
    margin: auto;
    width: 160px;
    height: 160px;
    object-fit: contain;
  
   
}
.contenedorVistaPreliminarProducto {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    padding: 8px;
    border-radius: 5px;
    @media (max-width: 800px) {
        flex-flow: row wrap;
    }
    &:hover{
        background: rgb(240, 240, 240);
    }
    &:active{
        background: rgb(224, 224, 224);
    }
}
.contenedorVPP2{
    
    padding: 15px;
}
.contenedorVPP3 {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.contenedorVPP4 {
    width: 200px;
    padding: 10px;
}
.iconoEnvio {
    padding-left: 20px;
}
.formatoTextoCiudad{
    font-size: 12px !important;
    color: rgb(129, 129, 129) !important;
}
.formatoPrecio {
    font-size: 20pt !important;
}
.formatoTituloProducto{
     font-size: 14pt !important;
}