// Importación Estilos Globales
@import '../../Estilos/variables.scss';

//Estilos propios del componente APP
.imagenPreliminarPrducto {
    width: 160px;
    height: 160px;
    border-radius: 5px;

}
.contenedorVistaPreliminarProducto {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    padding: 8px;
    border-radius: 5px;
    &:hover{
        background: rgb(240, 240, 240);
    }
    &:active{
        background: rgb(224, 224, 224);
    }
}
.contenedorVPP2{
    width: 100%;
    padding: 15px;
}
.contenedorVPP3 {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.contenedorVPP4 {
    width: 200px;
    padding: 10px;
}
.iconoEnvio {
    padding-left: 20px;
}
.formatoTextoCiudad{
    font-size: 12px !important;
    color: rgb(129, 129, 129) !important;
}
.formatoPrecio {
    font-size: 20pt !important;
}
.formatoTituloProducto{
     font-size: 14pt !important;
}