// Importacion Estilos Globales
@import './Estilos/variables.scss';

//Estilos propios del componente APP
.contenedorPrincipal {
    background: $colorGrisMeli;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.contenedorPieDePagina {
    margin-top: auto;
}